{% if feature_type_select %}
<script type="text/javascript">
    $(function() {
        $.fn.set_zoom = function() {
            var mymap = $.fn.get_map()
            var center = mymap.getCenter().transform(mymap.projection, mymap.displayProjection)
            $('[name="zl"]').val(mymap.getZoom().toString());
            $('[name="clon"]').val(center.lon.toString());
            $('[name="clat"]').val(center.lat.toString());
        }
        $('#update_map')
            .click(function(event) {
                $.fn.set_zoom();
                return true;
            });
    });
</script>
<form method="get" id="feature-type-form">{% csrf_token %}
<input type="hidden" name="zl" value="">
<input type="hidden" name="clon" value="">
<input type="hidden" name="clat" value="">
{% endif %}
<table>
{% for key, value in colors.items %}
<tr>
    {% if feature_type_select %}
    <td style="valign: middle; border: 0px solid black">
        <div style="border: 0px solid black; float:left;vertical-align: top">
            <input type="checkbox" name="ftype" value="{{ key }}"{% if key in show_ftypes %} checked{% endif %}></div>
    </td>
    {% endif %}
    <td style="valign: middle; border: 0px solid black">
        <div style="border: 1px solid black; float:left; width:12px;height:12px;margin-right:0px;background-color: {{ value }};"></div>
    </td>
    <td style="valign: middle; border: 0px solid black">
        <div style="border: 0px solid black; float:left;">{{ key }}</div>
    </td>
</tr>
{% endfor %}
</table>
{% if feature_type_select %}
<br>
<button type="submit" id="update_map" value="1" name="update_map">Update map</button>
{% endif %}
</form>
