{% if messages %}
<br>
<br>
{% comment %}
<ul class="messages">
    {% for message in messages%}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if message.tags %}{{ message.tags.upper }} &nbsp;&nbsp;&nbsp;{% endif %}{{ message }}</li>
    {% endfor %}
</ul>
{% endcomment %}

<table class="messages">
    {% for message in messages%}
    <tr {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    <td {% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if message.tags %}{{ message.tags.upper }} {% endif %}</td>
    <td>{{ message }}</td>
    </tr>
    {% endfor %}
</table>

<br>
{% endif %}
