{% load i18n %}
<table class="entity-list">
    <tr class="header" style="background-color:  #B0C4DE;border: 1px solid  #B0C4DE;padding: 5px">
        <td>{% trans "Name" %}</td>
        <td>{% trans "id" %}</td>
        <td>{% trans "Position" %}</td>
        {% if user.is_authenticated %}<td style="width: 36px">{% trans "Tools" %}</td>{% endif %}
    </tr>
    {% for person in pers_list %}
        <tr id='1' style="border: 1px solid  #B0C4DE;padding: 5px">
            <!-- <td style="width:5em;">{{ pub.number }}</td>
                <td><a id='1' href="/pubs/report/{{ pub.id }}/" target="info">{{ pub.title }}</a></td> -->
        {% include "publications/snippets/person_td.html" %}
        {% if user.is_authenticated %}<td><a id='2' href="/pubs/edit/person/{{ person.id }}/" target="info"><img src="{{STATIC_URL}}icons/Hamburg/16x16/edit.png" /></a></td>{% endif %}
    </tr>
    {% endfor %}
</table>
