{% load i18n %}
<table class="entity-list">
    <tr class="header" style="background-color:  #B0C4DE;border: 1px solid  #B0C4DE;padding: 5px">
        <td>#</td>
        <td>{% trans "Title" %}</td>
        <td>{% trans "pdf" %}</td>
        <td>{% trans "Type" %}</td>
        <td style="text-align: center">{% trans "Features" %}</td>
        {% if user.is_authenticated %}<td style="width: 64px; text-align: left">{% trans "Tools" %}</td>{% endif %}
    </tr>
    {% for pub in pub_list %}
        <tr id='1' style="border: 1px solid  #B0C4DE;padding: 5px">
            <!-- <td style="width:5em;">{{ pub.number }}</td>
                <td><a id='1' href="/pubs/report/{{ pub.id }}/" target="_blank">{{ pub.title }}</a></td> -->
        {% include "publications/snippets/report_td.html" %}
        <td>{% if pub.file %}<a href='{{MEDIA_URL}}{{ pub.file.file.name }}' target="_blank"><img src="{{STATIC_URL}}publications/images/pdf_16x16.png" /></a>{% endif %}</td>
        <td style="text-align: center">{{ pub.type }}</td>
        <td style="text-align: center">{{ pub.feature_set.all.count }}</td>

        {% if user.is_authenticated %}
            <td style="text-align: center">
            <a id='2' href="/pubs/edit/report/{{ pub.id }}/" target="_blank"><img src="{{STATIC_URL}}icons/Hamburg/16x16/edit.png" /></a>
            {% if not pub.verified %}<img src="{{STATIC_URL}}icons/Hamburg/16x16/lightbulb.png" title="{% trans "Entry needs verification!" %}"/>
            {% else %}<div style="width: 16px; height: 16px; display:inline-block;"></div>{% endif %}
            {% if pub.comment %}<img src="{{STATIC_URL}}icons/Hamburg/16x16/comment.png" title="{{ pub.comment }}"/>
            {% else %}<div style="width: 16px; height: 16px; display:inline-block;"></div>{% endif %}
            </td>
        {% endif %}
    </tr>
{% comment %}
        <li><a href="/pubs/details/{{ pub.id }}/">{{ pub.number }}&nbsp&nbsp{ pub.title }}</a></li>
{% endcomment %}
    {% endfor %}
</table>
