{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}publications/css/style.css" />
    <!-- 
    
    q: where do i find { block title }{ endblock } ?
    a: in the template that extends this one, e.g. in publications/templates/frontpage.html

    q: why? 
    a: because the title is different for each page, and we want to be able to change it in each page

     -->
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="top-line">
<div id='top-menu'>
<a class="topnav" href="/pubs/frontpage/">{% trans "Frontpage" %}</a>|
<a class="topnav" href="/pubs/overview/">{% trans "Map" %}</a>|
<a class="topnav" href="/pubs/publist/">{% trans "All reports" %}</a>|
<a class="topnav" href="/pubs/list/persons/">{% trans "All persons" %}</a>|
<a class="topnav" href="/pubs/keywords/list/">{% trans "All keywords" %}</a>|
{% if user.is_authenticated %}
<a class="topnav" href="/pubs/add/">{% trans "Administration" %}</a>
{% endif %}
<!--
<a class="topnav" href="/pubs/searchpage/">Søg</a>
-->

{% if user.is_authenticated %}
	<span class="topnav-right">{% trans "User" %}: {{ user.username }}</span>
    <span class="topnav-right">|</span>
	<a class="topnav-right" href="/accounts/logout/?next={{request.path}}">Logout</a>
    <span class="topnav-right">|</span>
{% else %}
    <a class="topnav-right" href="/accounts/login/?next={{request.path}}">Login</a>
    <span class="topnav-right">|</span>
{% endif %}

{% if not hide_language_choices %}
<span class="topnav-right">
<form name="setLangEnglish" action="/i18n/setlang/" method="POST">{% csrf_token %}
<input name="next" type="hidden" value="" />
<input type="hidden" name="language" value="en" />
<a href="#" onclick="document.setLangEnglish.submit();return false;">EN</a>
</form>
</span>
<span class="topnav-right">
<form name="setLangDanish" action="/i18n/setlang/" method="POST">{% csrf_token %}
<input name="next" type="hidden" value="" />
<input type="hidden" name="language" value="da" />
<a href="#" onclick="document.setLangDanish.submit();return false;">DK</a>
</form>
</span>
<span class="topnav-right">{% trans "Language" %}:</span>
<!-- <a href="/pubs/publist/">KA</a>
<a href="/pubs/list/persons/">DK</a>
<a href="/pubs/keywords/list/">EN</a> -->
</span>
{% endif %}

</div>

</div>

<div class='site_container'>

<div class='headline'><h2>{% block headline %}{% endblock %}</h2></div>
{% include "publications/snippets/message_list.html" %}
<br>
<br>

{% block body %}
{% endblock %}

</div>
</br>
</br>
</br>
</br>
</body>
</html>
