<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}publications/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="top-line">
<div id='top-menu'>
<a class="topnav" href="/pubs/frontpage/">Forside</a>|
<a class="topnav" href="/pubs/overview/">Kort</a>|
<a class="topnav" href="/pubs/publist/">Alle rapporter</a>|
<a class="topnav" href="/pubs/list/persons/">Alle personer</a>|
<a class="topnav" href="/pubs/keywords/list/">Alle keywords HEJ HEJ</a>|
{% if user.is_authenticated %}
<a class="topnav" href="/pubs/add/">Tilføj</a>
{% endif %}
<!--
<a class="topnav" href="/pubs/searchpage/">Søg</a>
-->

{% if user.is_authenticated %}
	<span class="topnav-right">User: {{ user.username }}</span>
    <span class="topnav-right">|</span>
	<a class="topnav-right" href="/accounts/logout/">Logout</a>
    <span class="topnav-right">|</span>
{% else %}
    <a class="topnav-right" href="/accounts/login/">Login</a>
    <span class="topnav-right">|</span>
{% endif %}

<span class="topnav-right">
<form name="setLangEnglish" action="/i18n/setlang/" method="POST">{% csrf_token %}
<input name="next" type="hidden" value="" />
<input type="hidden" name="language" value="en" />
<a href="#" onclick="document.setLangEnglish.submit();return false;">EN</a>
</form>
</span>
<span class="topnav-right">
<form name="setLangDanish" action="/i18n/setlang/" method="POST">{% csrf_token %}
<input name="next" type="hidden" value="" />
<input type="hidden" name="language" value="da" />
<a href="#" onclick="document.setLangDanish.submit();return false;">DK</a>
</form>
</span>
<span class="topnav-right">Language:</span>
<!-- <a href="/pubs/publist/">KA</a>
<a href="/pubs/list/persons/">DK</a>
<a href="/pubs/keywords/list/">EN</a> -->
</span>

</div>

</div>

<div class='site_container'>

<h2>{% block headline %}{% endblock %}</h2>
{% include "publications/snippets/message_list.html" %}
<br>
<br>

{% block body %}
{% endblock %}

</div>
</body>
</html>
