{% extends "base.html" %}
{% block title %}jQuery UI Autocomplete - Multiple, remote{% endblock %}
{% block head %}
	<link rel="stylesheet" href="/static/publications/css/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script>
    $(function() {
        function split( val ) {
			var terms = val.split( /[;&\n]\s*/ ).filter(function(e){return e.trim()!==""});
            return terms
        }
		
        function extractLast( term ) {
            return split( term ).pop();
        }
		
		
		$('#authors_loading')
			.hide()  // hide it initially
			.ajaxStart(function() {
				$(this).show();
			})
			.ajaxStop(function() {
				$(this).hide();
			});
			
        $( "#authors" )
            // don't navigate away from the field on tab when selecting an item
            .bind( "keydown", function( event ) {
                if ( event.keyCode === $.ui.keyCode.TAB &&
                        $( this ).data( "autocomplete" ).menu.active ) {
                    event.preventDefault();
                }
				// Make sure the textarea adapts its size when something is deleted
				this.rows = (this.value.match(/\n/g)||[]).length+1;
            })
            .autocomplete({
                source: function( request, response ) {
                    $.getJSON( "/pubs/person/ajax/search/", {
                        term: extractLast( request.term )
                    }, response );
                },
                search: function() {
                    // custom minLength
                    var term = extractLast( this.value );
                    if ( term.length < 2 ) {
                        return false;
                    }
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );
					
					// use newline, to split authors on different lines
                    this.value = terms.join( "\n" );
					this.rows = terms.length
                    return false;
                }
            });
    });
    </script>
{% endblock %}
{% block body %}

<div class='site_container'>
<div class="ui-widget">
<label for="authors" style="display: block; float: left;">authors: </label>
<textarea id="authors" cols="50" rows="1" style="display: block; float: left;"></textarea></div><div id="authors_loading" style="float: left; vertical-align: bottom"><img src="/static/publications/images/ui-anim_basic_16x16.gif"</div>
</div>
Halløj
{% endblock %}