{% extends "base.html" %}
{% block title %}Administrative menu{% endblock %}
{% block head %}
{% endblock %}


{% block headline %}Add publications from file upload{% endblock %}


{% block body %}


<p>You may upload an Excel file with publication information to be added to the database.
The file should contain information about several one publication per row.
Although the drop down box below indicates other file formats also, only the
excel file parser has been implemented.</p>

<p>A template for the Excel file is available here: <a href="{{STATIC_URL}}publications/docs/ARTEK_report_list.xlsx">Report Excel file template</a>.</p>
<br>
<form action="/pubs/add/pubs_from_file/" method="POST" enctype="multipart/form-data">{% csrf_token %}
<table>
{{ form.as_table }}

<tr><th></th><td><br><button type="submit">Upload</button></td>

</table>
</form>


{% endblock %}
