{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Add feature" %}{% endblock %}
{% block head %}
    {{ form.media }}

    <link rel="stylesheet" href="{{STATIC_URL}}jquery/css/redmond/jquery-ui-1.9.2.custom.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    <!--<script src="{{STATIC_URL}}jquery/js/jquery-1.8.3.js"></script>
    <script src="{{STATIC_URL}}jquery/js/jquery-ui-1.9.2.custom.js"></script> -->
    <script>
    $(function() {
        $( "#id_date" ).datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                /* showOn: "button",
                buttonImage: "{{ STATIC_URL }}icons/Hamburg/16x16/calendar.png",
                buttonImageOnly: true */ });
    });


    $( window ).load(function() {

        /*
        The .load property waits until all elements and images have loaded
        before executing the function.

        The setTimeout is not really necessary, could be omitted.
        */

        setTimeout(function(){
            $('#map-edit-help').show()
            $('#map-edit-help').position({
                    my:        "left bottom",
                    at:        "right+10px top+23px",
                    of:        ".olMap",
                    collision: "none"
            });
            $('#map-plus-help').show()
            $('#map-plus-help').position({
                    my:        "left center",
                    at:        "right+10px top+55px",
                    of:        ".olMap",
                    collision: "none"
            });

        },100);
    });

    </script>


{% comment %}

info boxes with an arrow implemented with pure css. The following links
describe the method.

Basically we create a box with a size of zero. When adding borders to such a
box, we get a triangle, when using the proper settings.

http://css-tricks.com/snippets/css/css-triangle/
http://www.noob2geek.com/css-tutorials/how-to-create-simple-css-arrows-for-tooltips/
http://cssarrowplease.com/

{% endcomment %}

<style>
.arrow_left_box,
.arrow_top_left_box,
.arrow_bottom_left_box {
    position: relative;
    background: #ffffff;
    border: 2px solid #bbbbbb;
    min-height: 20px;
    width: auto;
    max-width: 200px;
    padding: 10px;
}

.arrow_left_box:after, .arrow_left_box:before,
.arrow_top_left_box:after, .arrow_top_left_box:before,
.arrow_bottom_left_box:after, .arrow_bottom_left_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_left_box:after,
.arrow_top_left_box:after,
.arrow_bottom_left_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 5px;
    margin-top: -5px;
}

.arrow_left_box:before,
.arrow_top_left_box:before,
.arrow_bottom_left_box:before {
    border-color: rgba(187, 187, 187, 0);
    border-right-color: #bbbbbb;
    border-width: 8px;
    margin-top: -8px;
}

.arrow_bottom_left_box:after {
    top: auto;
    bottom: 8px;
}

.arrow_bottom_left_box:before {
    top: auto;
    bottom: 5px;
}

.arrow_top_left_box:after {
    top: 13px;
    bottom: auto;
}

.arrow_top_left_box:before {
    top: 13px;
    bottom: auto;
}


</style>

{% endblock %}


{% block headline %}
{% if new_feature %}
{% trans "Add feature" %}
{% else %}
{% trans "Edit feature" %}
{% endif %}
{% endblock %}


{% block body %}

<p>{% trans "This form is intended for registration of features for which coordinates
have not been measured. In this case, you can pick the feature location from
the map below." %}</p>
<p>{% trans "If coordinates are known (have been measured) please use the option
to upload an excel-file with all the feature information, or the online entry
form for features with known coordinates." %}</p>


{% if not pub and not pub_list %}

<p>{% trans "This feature will not be associated with a report!" %}</p>
<p>{% trans "To register a feature associated with a specific report, please use the link from the report details page!" %}</p>

{% else %}

<p>{% trans "This feature will be added to the following report:" %}</p>
<table class="report-block" style="background-color: #F0F0F0; max-width: 600px; display:block; padding: 5px; border-style: solid; border-width: 1px 1px 1px 1px; border-color: grey;">
    {% if not pub %}
    {% for pub in pub_list %}
    <tr>{% include "publications/snippets/report_td.html" %}</tr>
    {% endfor %}
    {% else %}
    <tr>{% include "publications/snippets/report_td.html" %}</tr>
    {% endif %}
</TABLE>

{% endif %}

<br>

<form  enctype="multipart/form-data" method="post" id="add-feature-form">{% csrf_token %}
<input type="hidden" name="publication-pk" value="{{pub.id}}">
<table>
{{ form }}
</table>

<button type="submit" id="submit">{% trans "Register feature" %}</button>
</form>

<br><br><br>

<div class="arrow_bottom_left_box" id="map-edit-help" style="display:none">
{% trans "Click 'edit' to select which type of feature to add/edit (points, lines, polygons)." %}
</div>

<div class="arrow_top_left_box" id="map-plus-help" style="display:none">
{% trans "Click '+' to select which type background map to display." %}
</div>

<!--
<script>
    $("#map-edit-help").position({
            my:        "left center",
            at:        "right top",
            of:        "#submit",
            collision: "fit"
    });
</script>
-->
{% endblock %}




