{% extends "base.html" %}
{% block title %}
{% if pub %}
Edit report
{% else %}
New report
{% endif %}
{% endblock %}
{% block head %}
    <!--
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    -->
    {% include "publications/snippets/jQuery_include.html" %}

    <script>
    $(function() {
        function split( val ) {
			var terms = val.split( /[&;\n]\s*/ ).filter(function(e){return e.trim()!==""});
            return terms
        }

        function extractLast( term ) {
            return split( term ).pop();
        }

		function process_persons_callback (result) {
			if (result) {
				// the dialog returned true
				console.log('the dialog returned True')
			} else {
				// the dialog returned true
				console.log('the dialog returned False')
			}

		};

		function submit_process_callback (result) {
			if (result) {
				// the dialog returned true
				console.log('the dialog returned True to submit process')
				$('#add-report-form').submit()
			} else {
				// the dialog returned true
				console.log('the dialog returned to submit process')
			}

		};

		$.fn.updatePersons = function( dictionary ) {
			// to be called like: $( "#id_authors" ).updatePersons( dictionary )
			// where dictionary is an object with "key": "value" pairs, the
			// keys corresponding to entries in the textarea to be replaced by
			// the person in "value"

			console.log("In updatePersons method...");
			// iterate over all textareas (dom objects in 'this')
			this.each( function() {
				// get the text and split it to an array of strings
				var terms = split( this.value );
				// iterate over array
				terms.forEach(function(term, i) { if (term in dictionary) terms[i] = dictionary[term]; });

				// write back the updated string
				this.value = terms.join( "\n" );
			});
			return false;
		};


        function parseResponse (submit_on_ok) {
            // make submit_on_ok an optional argument, which defaults to false
            if (typeof submit_on_ok === 'undefined') { submit_on_ok = false; }

            // get the JSON response passed from the server
            var response = $( '#data_container' ).data('response');
            $( '#dialog' ).data('submit_on_ok', submit_on_ok); // update the DIV

            // Handle iterations, so we know if this is the first time the
            // function was called after request from server
            var iteration = $( '#data_container' ).data('iteration');
            if (typeof iteration === 'undefined') {
                iteration = 1;
            } else {
                iteration = iteration + 1;
            }
            $( '#data_container' ).data('iteration', iteration);  // store new value

            console.log(response)

            // all_ok is used to check if all name fields are correctly filled.
            var all_ok = [true, true, true];

            // Check authors field, show dialog if ambiguous names available
            if ( 'authors' in response ) {
                all_ok[0] = false;
                if ('message' in response.authors && response.authors.message == 'ok') {
                    all_ok[0] = true;
                } else if ( 'html' in response.authors && response.authors.html ) {
                    $( '#dialog' ).dialog('option', 'title', 'Choose authors:');
                    $( '#dialog' ).html( response.authors.html ); // update the DIV
                    $( '#dialog' ).data('callbackFunction', parseResponse); // update the DIV
                    var result = $( "#dialog" ).dialog( "open" );
                    return
                }
            }
            // Check supervisors field, show dialog if ambiguous names available
            if ( 'supervisors' in response ) {
                all_ok[1] = false;
                if ('message' in response.supervisors && response.supervisors.message == 'ok') {
                    all_ok[1] = true;
                } else if ( 'html' in response.supervisors && response.supervisors.html ) {
                    $( '#dialog' ).dialog('option', 'title', 'Choose supervisors:')
                    $( '#dialog' ).html( response.supervisors.html ); // update the DIV
                    $( '#dialog' ).data('callbackFunction', parseResponse); // update the DIV
                    var result = $( "#dialog" ).dialog( "open" );
                    return
                }
            }
            // Check editors field, show dialog if ambiguous names available
            if ( 'editors' in response ) {
                all_ok[2] = false;
                if ('message' in response.editors && response.editors.message == 'ok') {
                    all_ok[2] = true;
                } else if ( 'html' in response.editors && response.editors.html ) {
                    $( '#dialog' ).dialog('option', 'title', 'Choose editors:')
                    $( '#dialog' ).html( response.editors.html ); // update the DIV
                    $( '#dialog' ).data('callbackFunction', parseResponse); // update the DIV
                    var result = $( "#dialog" ).dialog( "open" );
                    return
                }
            }

            // Now handle submission, or alert result to user.
            if ( all_ok.every( function(itm){ return itm === true } ) ) {
                if ( iteration == 1 ) {
                    if ( submit_on_ok == true ) {
                        console.log('All authors will process fine on server upon submit...')
                        console.log('Now submitting...')
                        $('#add-report-form').submit()
                    } else {
                        alert('No ambiguous matches found in database for any of the specified names! All is fine!');
                    }
                } else {
                    if ( submit_on_ok == true ) {
                        console.log('All is ok, but changes have been made... do not submit!')
                        console.log('Ask user to resubmit')
                        alert('Because changes were made, you are kindly requested to press the submit button again!');
                    }
                }
            } else {
                alert('There seem to be still ambiguous names in some name fields (e.g. authors or supervisors) - please recheck!');
            }
        };


		$('#authors_loading')
			.hide()  // hide it initially
			.ajaxStart(function() {
				$(this).show();
			})
			.ajaxStop(function() {
				$(this).hide();
			})

        $( "#id_authors" )
			.attr( 'rows', function( ) {
				return (this.value.match(/\n/g)||[]).length+1;
			})

            .bind( "keydown", function( event ) {
				// Make sure the textarea adapts its size when something is deleted
				this.rows = (this.value.match(/\n/g)||[]).length+1;

				// Split text and adjust box-size
				if ( event.keyCode === $.ui.keyCode.ENTER) {
					var terms = split( this.value );
					// use newline, to split authors on different lines
                    //terms.push( "" );
					this.value = terms.join( "\n" );
					this.rows = (this.value.match(/\n/g)||[]).length+2;
                }
				// don't navigate away from the field on tab when selecting an item
                if ( event.keyCode === $.ui.keyCode.TAB &&
                        $( this ).data( "autocomplete" ).menu.active ) {
                    event.preventDefault();
                }

            })

            .autocomplete({
                source: function( request, response ) {
                    $.getJSON( "/pubs/person/ajax/search/", {
                        term: extractLast( request.term )
                    }, response );
                },
                search: function() {
                    // custom minLength
                    var term = extractLast( this.value );
                    if ( term.length < 2 ) {
                        return false;
                    }
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );

					// use newline, to split authors on different lines
                    this.value = terms.join( "\n" );
					this.rows = terms.length
                    return false;
                }
            });


        $( "#id_supervisors" )
            .attr( 'rows', function( ) {
                return (this.value.match(/\n/g)||[]).length+1;
            })

            .bind( "keydown", function( event ) {
                // Make sure the textarea adapts its size when something is deleted
                this.rows = (this.value.match(/\n/g)||[]).length+1;

                // Split text and adjust box-size
                if ( event.keyCode === $.ui.keyCode.ENTER) {
                    var terms = split( this.value );
                    // use newline, to split authors on different lines
                    //terms.push( "" );
                    this.value = terms.join( "\n" );
                    this.rows = (this.value.match(/\n/g)||[]).length+2;
                }
                // don't navigate away from the field on tab when selecting an item
                if ( event.keyCode === $.ui.keyCode.TAB &&
                        $( this ).data( "autocomplete" ).menu.active ) {
                    event.preventDefault();
                }

            })

            .autocomplete({
                source: function( request, response ) {
                    $.getJSON( "/pubs/person/ajax/search/", {
                        term: extractLast( request.term )
                    }, response );
                },
                search: function() {
                    // custom minLength
                    var term = extractLast( this.value );
                    if ( term.length < 2 ) {
                        return false;
                    }
                },
                focus: function() {
                    // prevent value inserted on focus
                    return false;
                },
                select: function( event, ui ) {
                    var terms = split( this.value );
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push( ui.item.value );
                    // add placeholder to get the comma-and-space at the end
                    terms.push( "" );

                    // use newline, to split authors on different lines
                    this.value = terms.join( "\n" );
                    this.rows = terms.length
                    return false;
                }
            });


		$( "#process-submit" )
            .button()
            .click(function(event) {
                event.preventDefault(); // avoid the button submitting the form!
                // Get all text from text-field
                // and convert to array of names
                var persons = {authors: split( document.getElementById( 'id_authors' ).value ),
                               supervisors: split( document.getElementById( 'id_supervisors' ).value )};

                $( '#data_container' ).data('iteration', 0);  // Reset iterations

                console.log(persons)
                console.log(persons.authors)

                // submit for serverside checking of names/id-tags
                $.ajax({ // create an AJAX call...
                    data: $.param(persons, false), // serialize the data, the "true" indicates shallow serialization.
                    type: "GET", // GET or POST
                    url: "/pubs/person/ajax/check/", // the server url to call
                    dataType: 'json', // the data type we expect back from the server
                    success: function(response) { // on success..
                        if ( 'error' in response ) {
                            alert('The server returned the following error message: ' + response.error);
                        } else {
                            console.log('setting data to data_containier...')
                            $( '#data_container' ).data('response', response);
                            console.log('calling parseResponse...')
                            parseResponse(true);  // true = submit form if everything is ok in first iteration
                        };

                        console.log('Now returning...')
                    },
                    error: function(jqXHR, textStatus, errorThrown) { // on error...
                        alert(textStatus); // update the DIV
                    }
                });

                // recieve response and handle... as callback function success?

                /* if('success' in response) {}  // if all names validate with existing id-tags alert all is ok and return
                    if('error' in response) {
                        if(response.error == 'DoesNotExist') {}  // one or more id's do not exist
                            alert('One or more ID tags did not correspond to entries in the database! (' + response.ids +')');
                            return false;
                        };
                        if(response.error == 'IdNameMismatch') {   // one or more id's did not match specified name!
                            alert('One or more ID tags did not match the name specified! (' + response.ids +')');
                            return false;
                        };

                    }   */
            });

		$( "#process-persons" )
			.button()
			.click(function(event) {
				event.preventDefault(); // avoid the button submitting the form!
				// Get all text from text-field
				// and convert to array of names
				var persons = {authors: split( document.getElementById( 'id_authors' ).value ),
                               supervisors: split( document.getElementById( 'id_supervisors' ).value )};

                $( '#data_container' ).data('iteration', 0);  // Reset iterations

                console.log(persons)
                console.log(persons.authors)

				// submit for serverside checking of names/id-tags
				$.ajax({ // create an AJAX call...
					data: $.param(persons, false), // serialize the data, the "true" indicates shallow serialization.
					type: "GET", // GET or POST
					url: "/pubs/person/ajax/check/", // the server url to call
					dataType: 'json', // the data type we expect back from the server
					success: function(response) { // on success..
						if ( 'error' in response ) {
							alert('The server returned the following error message: ' + response.error);
						} else {
                            console.log('setting data to data_containier...')
                            $( '#data_container' ).data('response', response);
                            console.log('calling parseResponse...')
                            parseResponse(false);  // true = submit form if everything is ok in first iteration
                        };

                        console.log('Now returning...')
                    },
					error: function(jqXHR, textStatus, errorThrown) { // on error...
						alert(textStatus); // update the DIV
					}
				});

				// recieve response and handle... as callback function success?

				/* if('success' in response) {}  // if all names validate with existing id-tags alert all is ok and return
					if('error' in response) {
						if(response.error == 'DoesNotExist') {}  // one or more id's do not exist
							alert('One or more ID tags did not correspond to entries in the database! (' + response.ids +')');
							return false;
						};
						if(response.error == 'IdNameMismatch') {   // one or more id's did not match specified name!
							alert('One or more ID tags did not match the name specified! (' + response.ids +')');
							return false;
						};

					}   */
			});

		$( "#dialog" ).dialog({
			autoOpen: false,
			height: 400,
			width: 350,
			modal: true,
		});

        /* $( "#open-files-dialog" )
            .click(function(event) {
                var result = $( "#add-files-dialog" ).dialog( "open" );
                return false
            });

        $( "#add-files-dialog" ).dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
        }); */
    });
    </script>
    {{ form.media }}

{% endblock %}

{% block headline %}
{% if pub %}
Edit report
{% else %}
Register new report
{% endif %}
{% endblock %}

{% block body %}

{% if pub %}
<table class="report-block" style="background-color: #F0F0F0; max-width: 600px; display:block; padding: 5px; border-style: solid; border-width: 1px 1px 1px 1px; border-color: grey;">
    <tr>{% include "publications/snippets/report_td.html" %}</tr>
</table>
{% endif %}

<br>
<br>

<form  enctype="multipart/form-data" method="post" id="add-report-form">{% csrf_token %}
<div id="data_container"></div>
<table>
{{ form.as_table }}
<tr><th></th><td>(Date format is YYYY-MM-DD)</td></tr>
<tr><th></th><td>&nbsp;</td></tr>
<tr><th>Appendices</th>
<td>
Appendices can be uploaded from the publication view, after the publication
record has been created/updated.
{% comment %}
{% if pub %}
<a id="open-files-dialog" href="/pubs/edit/report/{{ pub.id }}/upload/{{ appendix_batch_tag }}/" target="_popup">add appendix files or other files</a>
{% else %}
<a id="open-files-dialog" href="/pubs/add/report/upload/{{ appendix_batch_tag }}/" target="_popup">add appendix files or other files</a>
{% endif %}
<input type="hidden" name="appendix_batch_tag" value="{{ appendix_batch_tag }}">
{% endcomment %}
</td></tr>
<tr><th></th><td><br><button type="button" id="process-persons">Process Persons</button> <button type="button" id="process-submit">submit</button>
<div id="authors_loading" style="display: block; vertical-align: bottom"><img src="/static/publications/images/ui-anim_basic_16x16.gif"</div></td>

</table>
</form>

<p>'Process persons' button will do a check against the database for all persons
specified in the Author field. A dialog will appear to allow choosing the correct
person or create new person. When creating a new person, only the name will be
stored. Use the "edit person" functionality to register more person info after
the report is created.</p>

<p>'submit' button will also first check authors against database and creation rules,
and then if the check succeeds, submit the form to the database.</p>

<br>
<br>

<div id="dialog" title="Test dialog">No information</div>


{% comment %} Clash of jQuery versions, cannot live together with newer code!
<div id="add-files-dialog" title="Add files">
    {% load thumbnail %}
    {% load multiuploader %}
    {% multiupform "TESTING 12345" %}
</div>
{% endcomment %}



{% endblock %}




