{% extends "base.html" %}
{% block title %}Merge person{% endblock %}
{% block head %}
{% endblock %}


{% block headline %}Kombinér personer{% endblock %}


{% block body %}


<p>Denne person behandles nu:</p>
<table class="report-block" style="background-color: #F0F0F0; max-width: 600px; display:block; padding: 5px; border-style: solid; border-width: 1px 1px 1px 1px; border-color: grey;">
    {% include "publications/snippets/author_with_publications_trtd.html" with show_id=1%}
</TABLE>
<br>
<br>
<form id="merge-person-form" method="post" action="">{% csrf_token %}

<p>By pressing this button you acknowledge that the person shown above is a
unique representation, and confirm that any match flags will be removed from
author/publication relationships.</p>
<input type="submit" name="clear_flags" value="Clear flags" />

<br><br>
{% if choose_person_list %}
<p>The following list represents persons in the database that match the name
of the above person exactly (first and last name) or in a relaxed manner.</p>

<p>Please choose if the present person should be merged with one or more of the
persons below. The present person (shown above) will replace all occurences of
the persons checked in the list below in the entire database.</p>

<p>You may click the person names below to open a detailed view in a different
browser tab. You may click a publication link to open a detailed view of the
publication in a new browser tab. None of the links should navigate away from
this page, thus after inspection, you may return here and make your choice.</p>

<table style="width: 600px;">
{% for p in choose_person_list %}
{% if not p == person %}
<tr style="border: 1px solid black; width: 600px"><td><input type="checkbox" name="select_merge" value="{{p.id}}" id="p{{forloop.counter0}}"></td>
	<td>
	<table>
		{% include "publications/snippets/author_with_publications_trtd.html" with person=p show_id=1 link_name=1%}
	</table>
	</td></tr>
{% endif %}
{% endfor %}
</table>
</br>
<input type="submit" value="Accept choices" />

{% else %}
<p>No matches - exact or relaxed - were found for this person</p>
{% endif %}
</form>

</br>
</br>


{% endblock %}
