{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block head %}
{{ map.media }}
{% endblock %}


{% block headline %}Overview{% endblock %}


{% block body %}
</br>
    {{ map }}

<script type="text/javascript">
function update_report_list()
{
var all_variables = ""
for (var name in this)
    if (name.substring(0, 11) == "olwidget_id") {
        alert("Found variable: " + name);
        var mymap = this[name];
        var mypolygon = mymap.getExtent().transform(mymap.projection, mymap.displayProjection).toGeometry()
        alert("Extend: " + mypolygon.toString() + "\nProjection: " + mymap.displayProjection);
    }
}
/* for (var name in this) */
</script>
(Press left mouse button on a feature to see details)
<br/><br/>
{% include "publications/snippets/feature_type_legend.html" %}
<br>
<button onclick="update_report_list()">update list</button>
<br><br>


{% endblock %}
